@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.comics_container{
    display: flex;
    flex-wrap: wrap;
}

.comics__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    margin: var(--spacing-large);
    background-color: var(--color-light);
    transition: .5s;
    cursor: pointer;
}

.comics__item:hover{
    transform: rotate(-3deg) scale(.95);
    filter: saturate(150%);
}

.comics__title{
    display: flex;
    margin: auto;
    padding: var(--spacing-small) var(--spacing-medium);
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
}

.comics__img{
    width: 100%;
}

:global(.img__contain){
    display: block;
    object-fit: contain;
    object-position: center;
}

:global(.img__cover){
    display: block;
    object-fit: cover;
    object-position: center;
}