:root {
    --color-blue: #3199dc;
    --color-dark: #222222;
    --color-light: #f8f9fa;
    --color-white: #fff;
    --color-black: #000;

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 20px;

    --box-shadow: 0 2px 24px rgba(168, 175, 196, .5);
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
}

* {
    scrollbar-color: var(--color-blue) var(--color-dark);
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}
